
.heas{
    background-color: black;
    margin-left: 81.5%;
    width: 5.5vw;
    height: 5vh;
    border-radius: 5px;
   

}
.heas > .count {
    
    font-size: 30px;
    color: white;
}

#ques {
    padding-left: 60px;

}

li {
    list-style: none;
    padding: 0px 0px 10px 25px;
    font-size: 20px;

}

input {
    cursor: pointer;
    padding: 20px;
}

.bottom {
    position: fixed;
    margin-left: 50px;
    height: 20vh; 
    bottom: 0;
    width: 1000vw;

}
.bottom{
    width: 60vw;
}

p{
    font-size: 20px;
    top: 20px;
    position: relative;
    padding-left: 50px;
}
button {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
     padding: 10px 29px; 
}
button[type="submit"]{
    margin-left: 125%;
    top: -30px; 
}
button[type="submit"]:hover {
    background-color: rgba(40, 40, 252, 0.793);
}
button.btn{
    background-color: green;
}
button.btn:hover{
    background-color: rgb(11, 179, 11);
}
#showScore {
    text-align: center;
    position: relative;
    top: 50px;
}